*{
    margin: 0;
    padding: 0;
    background: #121B27;;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


.App{
    width: 100%;
    height: 150vh;
}
nav {
  display: flex;
  justify-content: space-between;
} 

nav h1{
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 231px;
  height: 62px;
  left: 100px;
  top: 64px;
}

nav p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1168px;
  top: 70px;
  right: 100px;
  border: 1px solid #BD3BD2;
  padding: 14px 16px;
  border-radius: 100px;
  font-family: 'Satoshi';
  line-height: 22px;
}

.content{
  overflow-x: hidden;
}
.circle{
  position: absolute;
    width: 102px;
    height: 102px;
    left: 1025px;
    top: 126px;
    border-radius: 50%;
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 88.1%);
    box-shadow: inset 1.02px 2.04px 51px #001D6E;
  
}


 .second-circle{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 36px;
    right: 0%;
    top: 231px;
    bottom: 0%;
    background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 88.1%);
    box-shadow: inset 2px 4px 100px #001D6E;
    border-radius: 50%;
 }

.third-circle{
    position: absolute;
      left: 1191px;
      right: 0;
      top: 382px;
      bottom: 0%;
      /* margin-right: -100px; */
      border-radius: 50%;
      background: linear-gradient(92.7deg, #5404FF 7.9%, #BA2AD1 88.1%);
      box-shadow: inset 4px 8px 200px #001D6E;
      filter: blur(15px);
      overflow: hidden;
}

 .star2{
    position: absolute;
      width: 32px;
      height: 40px;
      left: 462px;
      top: 216px;
      background: url("./Star\ 2.png");
      
 }

 .content > h1{
    position: absolute;
      width: 802px;
      height: 166px;
      left: 319px;
      top: 248px;
      font-weight: 900;
      font-size: 64px;
      line-height: 130%;
      text-align: center;
 }
    
.content p{
  position: absolute;
    width: 938px;
    height: 109px;
    left: 251px;
    top: 426px;
    font-family: 'Satoshi';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;    
      text-align: center;
}

.input{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
  
    position: absolute;
    width: 443px;
    height: 128px;
    left: 498px;
    top: 581px;
}


 .name{
    display: flex;
    flex-direction: row; 
    padding: 14px 12px;
    gap: 8px;
    width: 443px;
    height: 52px;
    top: 605px;
    right: 499px;
    left: 498px;
    bottom: 367px;
    border: 1px solid #ffffff;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
}

.email{
    display: flex;
      flex-direction: row;
      padding: 14px 12px;
      gap: 8px;
      width: 443px;
      height: 52px;
      top: 605px;
      right: 499px;
      left: 498px;
      bottom: 367px;
      border: 1px solid #ffffff;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      border-radius: 8px;
}

::placeholder{
  color: #fff;

}

.btn{
  /* top:765px;
  left: 498px;
  bottom: 209px;
  right: 499px; */
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 12px;  
    width: 443px;
    height: 50px;  
    background: linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%);
    border-radius: 100px;

}
.arrow1{
  /* position: absolute;
    left: 115.39%;
    right: -78.84%;
    top: 19.03%;
    bottom: -14.75%;  
    border: 4.08183px solid #175CE1;
    transform: matrix(0.79, 0.62, -0.69, 0.72, 0, 0); */
    background-image: url(./Star\ 2.png);
    background-color: green;
}

.people{
  display: flex;
  margin-left: 5rem;
  align-items: center;
    justify-content: center;
}

.people ul li{
  display: inline-block;
  list-style: none;
  
}
.G{
  background: #5404FF;
  padding: 15px 16px;
  border-radius: 50%;
}
.O{
  background: #BD3BD2;
  padding: 15px 16px;
  border-radius: 50%;
}
.U {
  background: #5404FF;
  padding: 15px 16px;
  border-radius: 50%;
}
.M {
  background: #BD3BD2;
  padding: 15px 16px;
  border-radius: 50%;
}

.people > h4 {
  margin-left: 20px;
  font-size: 16px;
}

.star4{
  position: absolute;
    width: 48px;
    height: 64px;
    left: 157px;
    top: 873px;
    bottom: 87px;
    right: 1235px;
    background: #F4B41A;
    border-radius: 1px;
}